ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

.scroll-on-page {
    li:before {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f054";
      float: left;
      margin-left: -1.5em;
    }
}

.stats {
  li:before {  
    content: "";
  }
}


dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
